/*
 * 色の設定
 */

$color_dg: #009e96;
$color_lg: #90c627;
$color_bk: #f4f9e9;

/*
 * ブレークポイント
 */

$breakpoint: 768px;
$breakpoint_m: 1080px;
$breakpoint_mm: 1180px;
$breakpoint_l: 1280px;
$breakpoint_ll: 1500px;
$breakpoint_max: 1920px;