.o-wpp_list {
  font-size: 13px;
  margin-bottom: 24px;
  > li {
    border-bottom: 1px solid $color_bk;
    padding: 10px 0;
    a {
      color: $color_bk;
      text-decoration: underline;
    }
    .is-date_user {
      margin-bottom: 6px;
    }
    .is-icon_pencil {
      padding-left: 24px;
      background-image: url(../images/common/icon_pencil.png);
      background-position: left 5px center;
      background-repeat: no-repeat;
      background-size: 14px auto;
      display: inline-block;
    }
  }
}