footer{
  width: 100%;
  background-color:white;
  @include mq{
    background-color: #FBFBFB;
  }
  .footer__top{
    width: 100%;
    padding: 30px 6.25% 0;
    max-width: 1080px;
    margin: 0 auto;
    @include mq{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 30px 2% 0;
    }
    @include mq_m{
      padding: 30px 1% 0;
    }
    @include mq_mm{
      padding: 30px 0 0;
    }
    .footer__top__text{
      width: 91%;
      margin: 0 auto 30px;
      @include mq{
        width: 45%;
      }
      @include mq_m{
        width: 255px;
      }
    }
  }
  .footer__middle{
    width: 100%;
    padding: 15px 6.25%;
    background-color: white;
    a:nth-child(1){
      padding-right: 15px;
    }
    @include mq{
      padding: 12px 2%
    }
    @include mq_mm{
      padding: 12px 0;
    }
  }
  .footer__bottom{
    background-color: #36C1CD;
    padding: 54px 6.25% 20px;
    @include mq{
      padding: 20px 2%;
    }
    @include mq_mm{
      padding: 40px 0;
    }
    .footer__bottom__title{
      color: white;
      font-size: 15px;
      line-height: 30px;
      @include mq{
        padding-bottom: 10px;
      }
    }
    .footer__bottom__text{
      color: white;
      font-size: 10px;
      line-height: 16px;
      @include mq{
        font-size: 13px;
        line-height: 19.5px;
      }
    }
  }
}